body {
  font-family: times new roman;
}

#header .header__menutop {
  background-color: white;
  width: 100%;
  position: relative;
  background-size: cover;
  padding-left: 19%;
  font-size: 12px;
}
#header .header__menutop ul li {
  display: inline;
  list-style: none;
}
#header .header__menutop ul li :hover {
  color: #bf954c;
}
#header .header__menutop ul li a {
  padding-right: 12px;
  color: black;
}

.branch img {
  width: 80%;
}

.contact {
  padding-top: 30px;
  line-height: 10px;
}
.contact .contact-1 {
  font-size: 18px;
  letter-spacing: 4px;
}
.contact .contact-2 {
  color: grey;
  font-size: 12px;
}
.contact .contact-3 {
  color: grey;
  font-size: 14px;
}
.contact ::-webkit-input-placeholder {
  font-style: italic;
  font-size: 12px;
  padding: 10px;
}
.contact a.button-send {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  background: black;
  color: white;
  padding: 6px 19px 4px 12px;
  text-align: center;
  font-size: 14px;
}
.contact .icon {
  padding-top: 32px;
}
.contact .icon .iconshow {
  color: grey;
}
.contact .iconshow:hover .id {
  color: #e6ae48;
}
.contact .contact-4 {
  font-size: 14px;
}
.contact .contact-4 .support {
  color: #e6ae48;
  font-family: Roboto;
}
.contact .contact-4 .phone {
  font-family: Roboto;
}

.contentcontact {
  line-height: 25px;
}

.design {
  font-size: 14px;
  color: grey;
}

.linkhead {
  font-size: 14px;
  padding-top: 20px;
}
.linkhead .linkcontact {
  color: #e6ae48;
}

button {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.stylecart {
  background-color: #fafafa;
  text-align: center;
}
.stylecart .imgcart {
  padding: 17px;
}
.stylecart td {
  padding-top: 75px;
}
.stylecart .price1 {
  font-family: utm caviar;
  color: #e6ae48;
}

.product_list-des {
  font-size: 13px;
  color: gray;
  padding-top: 10px;
}

.product-list .linkhead-title {
  padding-top: 20px;
  padding-bottom: 20px;
}
.product-list .linkhead-title .price1 {
  padding-top: 12px;
  font-family: utm caviar;
  color: #e6ae48;
  font-size: 34px;
}
.product-list .linkhead-title h1 {
  font-size: 24px;
}
.product-list .linkhead-title i {
  padding-top: 25px;
  color: gray;
  font-size: 14px;
}

.listrow {
  margin-bottom: 99px;
}

.popup {
  text-align: center;
  padding-top: 25px;
}
.popup .popup-content h1 {
  font-size: 60px;
}
.popup .popup-content .popup-desc {
  font-size: 18px;
  color: gray;
}
.popup .popup-content input {
  padding: 10.5px;
}
.popup .popup-content button {
  background-color: #e6ae48;
}

.FONT24 {
  font-size: 24px;
}

.menu-wrapper {
  margin: 0 auto;
  width: 900px;
}

#header .header__menutop {
  background: url(image/banner.jpg);
  height: 482px;
  width: 100%;
  position: relative;
  background-size: cover;
  padding-left: 19%;
  font-size: 12px;
}
#header .header__menutop ul li {
  display: inline;
  list-style: none;
}
#header .header__menutop ul li :hover {
  color: #e6ae48;
}
#header .header__menutop ul li a {
  padding-right: 12px;
  color: white;
}

.menu-wrapper .nav a {
  text-decoration: none;
}

.nav li {
  list-style: none;
}

#header-menu {
  background-color: black;
  height: 157px;
}

.nav {
  cursor: default;
  display: inline-block;
  position: relative;
  z-index: 500;
}

/* menu list */
.nav > li {
  display: block;
  float: left;
  padding-right: 42px;
  margin-top: -14px;
}

/* menu links */
.nav > li > a {
  font-size: 13px;
  background: black;
  color: white;
  display: block;
  height: 54px;
  line-height: 54px;
  padding: 0 20px;
  position: relative;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 510;
}

/* menu dropdown */
.nav > li > div {
  background: #fff;
  border: 1px solid #ddd;
  position: absolute;
  display: block;
  left: 0;
  opacity: 0;
  overflow: hidden;
  top: 50px;
  -webkit-transition: all 0.3s ease 0.15s;
  transition: all 0.3s ease 0.15s;
  visibility: hidden;
  width: 100%;
}

.nav > li:hover > div {
  opacity: 1;
  overflow: visible;
  visibility: visible;
}

/* menu content styles */
.nav .nav-column {
  float: left;
  padding: 2.5%;
  width: 30%;
}
.nav .nav-column h3 {
  color: #372f2b;
  font-size: 12px;
  line-height: 18px;
  margin: 20px 0 10px 0;
  text-transform: uppercase;
}
.nav .nav-column li a {
  color: grey;
  display: block;
  line-height: 26px;
  font-size: 12px;
}

.nav .nav-column li a:hover {
  color: #bf954c;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-dark .navbar-nav .nav-link :hover {
  color: red;
}

.winebody {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.winebody .left {
  width: 100%;
  margin-left: -8px;
}
.winebody .winebody-content {
  padding-top: 90px;
  text-align: center;
}
.winebody .winebody-content h1 {
  font-size: 21px;
}
.winebody .winebody-content .winebody-content_content {
  padding-top: 20px;
  display: block;
  color: #6b6868;
}
.winebody .winebody-content .winebody-content_button {
  display: inline-block;
  justify-content: center;
  background-color: black;
  text-align: center;
  width: 100px;
  margin-top: 16px;
  padding: 3px;
  text-decoration: none;
}
.winebody .winebody-content .winebody-content_button a {
  color: white;
}
.winebody .right {
  padding-left: 111px;
}

.winebody-center {
  background: url(image/image_under.jpg);
  height: 700px;
  width: 880px;
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 17vh;
}
.winebody-center .winebody-center__in {
  background: white;
  position: absolute;
  left: 10%;
  width: 80%;
  top: 38%;
}
.winebody-center .winebody-center__in .content {
  padding-top: 59px;
}
.winebody-center .winebody-center__in .content .winebody_in-left img {
  width: 100%;
}
.winebody-center .winebody-center__in .content .shape {
  color: white;
  height: 60px;
  clip-path: polygon(0 0, 0 100%, 25% 0);
  background-color: #e6ae48;
  margin-top: -124%;
  margin-left: 55px;
  padding-top: 10px;
  position: relative;
}
.winebody-center .winebody-center__in .content .winebody_in-right .winebody_in-line {
  margin-top: 3px;
}
.winebody-center .winebody-center__in .content .winebody_in-right .price {
  font-family: utm caviar;
  line-height: 80px;
  font-size: 25px;
  color: #edc687;
}
.winebody-center .winebody-center__in .content .winebody_in-right .winebody-content_price {
  justify-content: center;
  background-color: black;
  color: white;
  text-align: center;
  width: 100px;
  padding: 3px;
  font-size: 12px;
}
.winebody-center .winebody-center__in .content .winebody_in-right .winebody-content_price :hover {
  color: red;
}
.winebody-center .winebody-center__in .content .winebody_in-right .winebody-content-sub {
  margin-top: 38px;
  font-size: 13px;
  color: #868181;
  line-height: 20px;
}
.winebody-center .winebody-center__in .content .winebody_in-right .winetable {
  font-family: utm caviar;
  margin-top: 30px;
}
.winebody-center .winebody-center__in .content .winebody_in-right .winetable .row {
  text-align: center;
  color: #edc687;
  border-color: #edc687;
  line-height: 47px;
}
.winebody-center .winebody-center__in .content .winebody_in-right .winetable .row .number {
  font-size: 34px;
}
.winebody-center .winebody-center__in .content .winebody_in-right .winetable .row .number .text {
  font-size: 14px;
}
.winebody-center .winebody-center__in .content .winebody_in-right .winetable .up {
  border: 1px solid;
}
.winebody-center .winebody-center__in .content .winebody_in-right .winetable .down {
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-right: 1px solid;
}
.winebody-center .winebody-center__in .content .winebody_in-right .winetable .winetable-right {
  border-right: 1px solid;
}

.winbody-product {
  height: 569px;
  text-align: center;
  margin-top: 200px;
}
.winbody-product h1 {
  font-size: 21px;
}
.winbody-product .winebody-product-show {
  margin-top: 40px;
}
.winbody-product .winebody-product-show #left {
  padding-left: 35px;
}
.winbody-product .winebody-product-show img {
  position: relative;
  width: auto;
  height: 262px;
}
.winbody-product .winebody-product-show .fas {
  color: #e6ae48;
}
.winbody-product .winebody-product-show .fas .fa-arrow-left {
  padding-right: 18px;
}
.winbody-product .winebody-product-show .fas .fa-arrow-right {
  padding-left: 10px;
}
.winbody-product .winebody-product-show .winebody-product-show-content {
  padding-top: 30px;
  text-align: center;
  font-size: 14px;
}
.winbody-product .winebody-product-show .winebody-product-show-price {
  padding-top: 15px;
}
.winbody-product .winebody-product-show .winebody-product-show-price .price1 {
  font-family: utm caviar;
  color: #e6ae48;
  font-size: 21px;
}
.winbody-product .winebody-product-show .winebody-product-show-price .price2 {
  font-family: utm caviar;
  font-size: 14px;
  text-decoration: line-through;
  color: grey;
}
.winbody-product .winebody-product-show .winebody-content_price {
  position: absolute;
  left: 25%;
  /* justify-content: center; */
  background-color: black;
  color: white;
  text-align: center;
  width: 51%;
  /* width: 228px; */
  padding: 10px;
  margin-top: 20px;
  font-size: 12px;
}

.descrip_product {
  margin-top: -21px;
  margin-left: 42px;
  background: black;
  position: absolute;
  padding: 12px;
  color: white;
  opacity: 0;
}

.producthover:hover .descrip_product {
  color: white;
  opacity: 1;
}
.producthover:hover .winebody-content_price {
  background-color: #e6ae48;
}

.media {
  position: relative;
}
.media img {
  width: 110%;
  margin-left: -16px;
}
.media .text {
  opacity: 0;
  color: white;
  font-size: 12px;
  position: absolute;
  left: 50%;
  bottom: 7%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  text-align: center;
}
.media .text #dif {
  font-size: 45px;
  border: 1px solid white;
}

.media:hover .text {
  opacity: 1;
}
.media:hover img {
  border: 2.5px solid #edc687;
}

.info {
  margin-top: 20px;
}
.info .info-blog-line {
  font-size: 21px;
  text-align: center;
}
.info .info-blog-content {
  margin-top: 30px;
  padding: 0;
}
.info .info-blog-content .title {
  line-height: 20px;
  padding-top: 10px;
}
.info .info-blog-content .title .caption {
  font-size: 18px;
}
.info .info-blog-content .title .time {
  font-size: 12px;
  color: #c1c1c1;
}
.info .info-blog-content .title .des {
  font-size: 14px;
  color: grey;
}
.info .info-blog-content .title .more {
  font-size: 14px;
  color: #c1c1c1;
}
.info .info-blog-content #quote {
  color: white;
  border-radius: 39px;
  font-size: 31px;
  background-color: #e6ae48;
  padding: 19px;
  margin-left: 141px;
}
.info .info-blog-content .des1 {
  color: grey;
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
}
.info .info-blog-content .more1 {
  font-size: 14px;
  color: #c1c1c1;
  text-align: center;
}
.info .info-blog-content .ava {
  text-align: center;
}
.info .info-blog-content .job {
  font-size: 12px;
  text-align: center;
  color: #c1c1c1;
  font-style: italic;
}
.info .info-blog-content .name {
  text-align: center;
  font-size: 14px;
}
.info .info-blog-content .circle {
  text-align: center;
  font-size: 7px;
  color: grey;
  padding-top: 26px;
}
.info .id1:hover {
  color: #e6ae48;
}

.linkhead .linkhead-title {
  padding-top: 20px;
  font-size: 24px;
  padding-bottom: 30px;
}
.linkhead .linkhead-title .price1 {
  font-family: utm caviar;
  color: #e6ae48;
  font-size: 34px;
}
.linkhead .linkhead-content {
  padding-top: 20px;
  font-size: 14.04px;
  font-family: Arial;
  color: grey;
}
.linkhead .linkhead-content .follow {
  font-size: 18px;
}

.iconshow:hover .id {
  color: #e6ae48;
}

.hihi {
  font-size: 14px;
  font-family: Arial;
  color: grey;
  padding-top: 30px;
}
.hihi input[type=text], .hihi input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #fafafa;
}
.hihi .titleinput {
  margin-top: 5px;
}

.buttonsend p {
  background-color: black;
  color: white;
  text-align: center;
  width: 12%;
  margin: 11px 0;
  padding: 6px;
}

.introduce-content {
  padding-top: 30px;
}
.introduce-content .linkhead-title {
  font-size: 24px;
}
.introduce-content .introduce-content-1 h1 {
  font-size: 24px;
}
.introduce-content .introduce-content-1 p {
  font-size: 14px;
  color: grey;
  line-height: 26px;
}

.titlebottom {
  padding-bottom: 30px;
}

.buttonregis {
  background-color: black;
  text-align: center;
  font-size: 14px;
  padding: 10px 0 2px 0;
  width: 73%;
}
.buttonregis a {
  color: white;
}

.form {
  padding: 64px;
  border: 1px solid #ccc;
}
.form h1 {
  font-size: 18px;
  letter-spacing: 2px;
}
.form p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.form .loginform .titleinput {
  font-size: 14px;
}
.form .loginform input[type=email], .form .loginform input[type=password], .form .loginform input[type=text] {
  width: 100%;
  margin: 14px 0;
  /* display: inline-block; */
  box-sizing: border-box;
  background-color: #fafafa;
}
.form .btlogin {
  padding-top: 20px;
}
.form .spe1 {
  padding-top: 20px;
}
.form .comeback {
  margin-left: 12px;
}

.info-blog-content {
  padding-top: 30px;
}
.info-blog-content .title .caption {
  font-size: 18px;
}
.info-blog-content .title .time {
  font-size: 12px;
  color: #c1c1c1;
}
.info-blog-content .title .des {
  font-size: 14px;
  color: grey;
}
.info-blog-content .title .more {
  font-size: 14px;
  color: #e6ae48;
}

.stylecart {
  background-color: #fafafa;
  text-align: center;
}
.stylecart .imgcart {
  padding: 17px;
}
.stylecart td {
  padding-top: 75px;
}
.stylecart .price1 {
  font-family: utm caviar;
  color: #e6ae48;
}

#continue {
  margin-left: 26px;
}

#delete {
  margin-left: 25px;
}

#update {
  margin-left: 20px;
}

.price1, .vote {
  padding-top: 25px;
}

.vote {
  margin-top: 11px;
  font-size: 12px;
  color: grey;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-bottom: 15px;
}

.choose {
  padding-top: 10px;
}
.choose .row {
  margin-left: -13px;
  margin-bottom: 30px;
  opacity: 0.5;
}
.choose .row:hover {
  opacity: 1;
  cursor: pointer;
}
.choose .up {
  margin-left: 10px;
  color: #e6ae48;
}

.color, .catelori {
  color: grey;
  font-size: 16px;
  padding-top: 10px;
}

.phanomau {
  padding-top: 10px;
  display: flex;
}

#c1:hover, #c2:hover, #c3:hover {
  border: 2px solid grey;
  padding: 2px;
}

#c1 {
  color: #e6ae48;
  margin-right: 7px;
}

#c2 {
  color: black;
  margin-right: 7px;
}

#c3 {
  color: #9c0001;
  margin-right: 7px;
}

.dropbtn {
  background-color: white;
  color: grey;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid grey;
}
.dropbtn i {
  padding-left: 26px;
  color: black;
}

.dropdown, .show {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: grey;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: black;
}

.dropdown:hover .dropdown-content, .show:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn, .show:hover .dropbtn {
  background-color: #e6ae48;
}

.olala {
  margin-top: 7px;
  border: 3px solid #f1eaea;
  padding-bottom: 7px;
}

.soluong {
  padding-right: 15px;
  background-color: #f1eaea;
}

.centerwhite {
  padding: 0px 46px;
}

.description {
  padding-top: 3px;
  color: grey;
  font-size: 14px;
}
.description i:hover {
  color: #e6ae48;
}

.desc {
  color: grey;
  font-size: 13px;
}

.descbottom {
  padding-top: 20px;
}

.reddesc {
  padding-top: 30px;
  font-size: 16px;
  letter-spacing: 2px;
}
.reddesc .title {
  height: 30px;
  padding-top: 5px;
  padding-right: 51px;
  text-align: center;
}
.reddesc .title:hover {
  background-color: #e6ae48;
  color: white;
}

.reddesc-content {
  padding-top: 10px;
  color: grey;
  font-size: 15px;
}

.reddesc-right {
  padding-top: 75px;
}

.bill {
  margin-bottom: 10px;
}

.bill-info {
  padding-bottom: 30px;
  padding-top: 20px;
  background-color: #efeeee;
  border: 1px solid #cec6c6;
}
.bill-info h1 {
  font-size: 18px;
}
.bill-info .bill-info-cus {
  padding-top: 20px;
}
.bill-info .bill-info-cus-dress {
  padding-top: 40px;
  text-decoration: underline;
}

.bill-bill {
  width: 99%;
  background-color: #efeeee;
  padding: 6px;
}
.bill-bill p {
  font-size: 18px;
}
.bill-bill a {
  font-size: 14px;
  padding: 6px;
}

.bill-table th {
  padding: 10.5px;
  text-align: center;
  font-size: 14px;
  border: 1px solid #cec6c6;
}
.bill-table td {
  font-size: 14px;
  text-align: center;
  padding-top: 16px;
  border-right: 1px solid #cec6c6;
  border-left: 1px solid #cec6c6;
}
.bill-table td p {
  font-size: 12px;
  color: grey;
}
.bill-table .endbotom {
  border-bottom: 1px solid #cec6c6;
}

.banner-product {
  padding-top: 20px;
  width: 101.5%;
}

.product-grid {
  padding-top: 20px;
}
.product-grid .titlegrid {
  letter-spacing: 2px;
}
.product-grid .product-grid-right {
  border: 1px solid #a79f9f;
  padding: 10px;
}
.product-grid .product-grid-right .product-grid-number-right-b {
  text-align: right;
  letter-spacing: 5px;
}
.product-grid .product-grid-right .product-grid-number-right-b a:hover {
  color: #e6ae48;
}
.product-grid .product-grid-right .product-grid-number-right-b i:hover {
  color: #e6ae48;
}
.product-grid .product-grid-right .product-grid-number-right-a a:hover {
  color: #e6ae48;
}
.product-grid .product-grid-right .product-grid-number-right-a i:hover {
  color: #e6ae48;
}
.product-grid .fas.fa-th {
  margin-right: 11px;
}

.product-grid-show {
  line-height: 23px;
  padding-top: 25px;
  margin-left: -56px;
}
.product-grid-show .product-grid-show-list {
  list-style-type: none;
  font-size: 14px;
  color: gray;
}
.product-grid-show .product-grid-show-list li:hover {
  color: #e6ae48;
}

.desc-product {
  padding-top: 20px;
  font-style: Roboto;
  font-size: 13px;
  color: gray;
}

.more-linkhead {
  margin-left: 11%;
}

.product-grid-tag {
  padding-top: 10px;
}
.product-grid-tag .row {
  padding-top: 10px;
  margin-left: 23px;
}
.product-grid-tag .row .tag {
  font-size: 12px;
  font-family: Open Sans;
  padding: 5px 7px 5px 7px;
  border: 1px solid #d2cccc;
  margin-right: 11px;
}
.product-grid-tag .row .tag:hover {
  background-color: #e6ae48;
  color: white;
}

.imgproduct {
  margin-left: 37px;
  padding-top: 63px;
}

.hoverproduct {
  padding-left: 14px;
}

.wineproduct {
  margin-top: -7%;
}

.more-linkhead {
  padding-top: 16px;
}

.gridlist {
  color: #4b4e50;
}

.deatail-blog-right {
  padding-top: 20px;
}
.deatail-blog-right .detail-blog-right-desc {
  font-size: 13px;
  font-family: Roboto;
}
.deatail-blog-right .detail-blog-right-desc i {
  color: gray;
}

.detail-blog {
  padding-top: 20px;
}

.tagblog {
  padding-top: 0px;
}
.tagblog .row {
  padding-top: 10px;
  margin-left: 2px;
}

.detail-image img {
  width: 100%;
  padding-top: 20px;
}

.detail-blog-title {
  padding-top: 10px;
}
.detail-blog-title .caption {
  font-size: 30px;
  letter-spacing: 2px;
}
.detail-blog-title .time {
  font-size: 17px;
  color: #9e9d9d;
}
.detail-blog-title .des {
  font-size: 18px;
  color: gray;
  font-style: italic;
}

.detail-blog-donggop {
  font-style: italic;
  font-size: 18px;
  padding-top: 20px;
}

.ykien input.input2 {
  padding-bottom: 125px;
}
.ykien input.input1 {
  padding-bottom: 12px;
}

.loginform .row {
  margin-bottom: 20px;
}
.loginform input[type=email], .loginform input[type=text] {
  width: 100%;
}

.detail-blog-comment {
  font-size: 14px;
  padding-top: 20px;
}

.detail-blog-comment-time {
  background: #ecebeb;
  padding: 8px;
  font-style: italic;
  color: gray;
}

.detail-blog-comment-content {
  padding-top: 10px;
  color: gray;
}

.detail-blog-number {
  padding-top: 20px;
}
.detail-blog-number .detail-blog-number-page a, .detail-blog-number .detail-blog-number-page i {
  border: 1px solid gray;
  cursor: pointer;
}
.detail-blog-number .detail-blog-number-page i {
  padding: 7px 11px 7px 12px;
  color: white;
  background-color: black;
}
.detail-blog-number .detail-blog-number-page a {
  padding: 7px 11px 6px 12px;
}
.detail-blog-number .detail-blog-number-page a:hover {
  color: white;
  background-color: gray;
}
.detail-blog-number .numberpage {
  margin-right: 11px;
}

.button_edit {
  background-color: #3bceba;
}

.form-address {
  font-size: 15px;
}
.form-address .input1 input {
  padding: 5px;
}

.right {
  padding-top: 15px;
}

.popup {
  text-align: center;
  padding-top: 30px;
}
.popup .popup-content h1 {
  font-size: 60px;
}
.popup .popup-content .popup-desc {
  font-size: 18px;
  color: gray;
}
.popup .popup-content input {
  padding: 10.5px;
}
.popup .popup-content button {
  background-color: #e6ae48;
}

/*# sourceMappingURL=css.css.map */
