.branch{
  img{
    width: 80%;
  }
}
.contact
{ padding-top: 30px;
 line-height: 10px;
  .contact-1 {
    font-size: 18px;
    letter-spacing: 4px;
  }
  .contact-2{
    color: grey;
    font-size: 12px;
  }
  .contact-3{
    color: grey;
    font-size: 14px;
  }
  ::-webkit-input-placeholder
  {
  font-style: italic;
  font-size: 12px;
  padding: 10px;
  }
  .button1{
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    background: black;
    color: white;
    padding: 6px 19px 4px 12px;
    text-align: center;
    font-size: 14px;
  }
  .icon{
    padding-top: 32px;
    .iconshow{
      color: grey;
    }
  }
  .iconshow:hover .id{color: #e6ae48;}
  .contact-4{
    font-size: 14px;
    .support{
      color: #e6ae48;
      font-family: Roboto;}
    .phone {
      font-family: Roboto;
    }
  }

}
.contentcontact{line-height: 25px;}

.design{font-size: 14px; color: grey;}