.popup {
  text-align: center;
  padding-top:25px;
  .popup-content {
    h1 {font-size: 60px;}
    .popup-desc { font-size: 18px; color: gray; }
    input {padding: 10.5px}
    button {background-color:  #e6ae48;}
  }
}