.product_list-des {
  font-size: 13px;
  color: gray;
      padding-top: 10px;
}
.product-list  {
  .linkhead-title {
    padding-top: 20px;
    padding-bottom: 20px;
      .price1 {
        padding-top: 12px;
    font-family: utm caviar;
    color: #e6ae48; 
    font-size: 34px;
  }
  h1 {font-size: 24px;}
  i {padding-top: 25px;
     color: gray;
      font-size: 14px;}
  }
}
.listrow {
  margin-bottom: 99px;

}