html
	include ../include/head
	body
		include ../include/header
		.container.linkhead
			a Trang chủ /
			a.linkcontact(href='#') Danh sách đơn hàng
			.linkhead-title
				h1 ĐƠN HÀNG
				img(src='../image/titleleft-dark.png')
		.container.bill
			.row
				.col-lg-9
					.row.bill-bill
						p DANH SÁCH ĐƠN HÀNG
					.row.bill-bill
						a Trạng thái tất cả(16) |
						a Đã hủy(10) |
						a Chưa duyệt(0) |
						a Đã thanh toán- chờ mua hàng |
						a Hàng đã về- chờ giao hàng (0) |
						a Đã kết thúc (6)
					.row.bill-table
						table#table1
							tbody
								tr
									th STT
									th MÃ HÓA ĐƠN/ NGÀY MUA HÀNG
									th KHO NHẬN HÀNG
									th SỐ SP
									th TỔNG TIỀN
									th TÌNH TRẠNG
									th THAO TÁC
								tr
									td 01
									td LEANHGIANG89 - 17/06/2016
										p.table-time 01:36 14/09/2015
									td HÀ ĐÔNG
									td 7
									td 350.000đ
									td Đã thanh toán
									td Chi tiết
								tr
									td 02
									td LEANHGIANG89 - 17/06/2016
										p.table-time 01:36 14/09/2015
									td HÀ ĐÔNG
									td 7
									td 350.000đ
									td Đã thanh toán
									td Chi tiết
								tr
									td 03
									td LEANHGIANG89 - 17/06/2016
										p.table-time 01:36 14/09/2015
									td HÀ ĐÔNG
									td 7
									td 350.000đ
									td Đã thanh toán
									td Chi tiết
								tr
									td 04
									td LEANHGIANG89 - 17/06/2016
										p.table-time 01:36 14/09/2015
									td HÀ ĐÔNG
									td 7
									td 350.000đ
									td Đã thanh toán
									td Chi tiết
								tr
									td 05
									td LEANHGIANG89 - 17/06/2016
										p.table-time 01:36 14/09/2015
									td HÀ ĐÔNG
									td 7
									td 350.000đ
									td Đã thanh toán
									td Chi tiết	
								tr
									td 06
									td LEANHGIANG89 - 17/06/2016
										p.table-time 01:36 14/09/2015
									td HÀ ĐÔNG
									td 7
									td 350.000đ
									td Đã thanh toán
									td Chi tiết
								tr.endbotom
									td 07
									td LEANHGIANG89 - 17/06/2016
										p.table-time 01:36 14/09/2015
									td HÀ ĐÔNG
									td 7
									td 350.000đ
									td Đã thanh toán
									td Chi tiết							
				.col-lg-3.bill-info
					h1 THÔNG TIN KHÁCH HÀNG
					.row.bill-info-cus
						.col-lg-1
							i.fas.fa-user
						.col-lg-5
							| Giang Le
							| anhgiangle98@gmail.com
					.row.bill-info-cus
						.col-lg-1
							i.fas.fa-map-marker-alt
						.col-lg-8
							| Tòa nhà Hà Nội Group
							| 442 Đội Cấn, Ba Đình, Hà Nội
					.row.bill-info-cus
						.col-lg-1
							i.fas.fa-phone
						.col-lg-7
							| (04) 3768 9804
					.row.bill-info-cus-dress
						.col-lg-8 Chi tiết địa chỉ
include ../include/footer

			
