html
	include ../include/head
	body
		include ../include/header
		.container.linkhead
			a Trang chủ /
			a.linkcontact(href='#') Blog
			.linkhead-title
				h1 BLOG
				img(src='../image/titleleft-dark.png')
		.container
			.row
				.col-lg-4.detail-blog
					p BÀI VIẾT MỚI NHẤT
					.row.deatail-blog-right
						.col-lg-4.detail-blog-right-image
							img(src='../image/Chi-tiet-Blog_1.jpg')
						.col-lg-8.detail-blog-right-desc
							p CÁCH SẮP XẾP NỘI THẤT TRONG NHÀ
							i.far.fa-calendar 16/01/2016
					.row.deatail-blog-right
						.col-lg-4.detail-blog-right-image
							img(src='../image/Chi-tiet-Blog_2.jpg')
						.col-lg-8.detail-blog-right-desc
							p CÁCH SẮP XẾP NỘI THẤT TRONG NHÀ
							i.far.fa-calendar 16/01/2016
					.row.deatail-blog-right
						.col-lg-4.detail-blog-right-image
							img(src='../image/Chi-tiet-Blog_3.jpg')
						.col-lg-8.detail-blog-right-desc
							p CÁCH SẮP XẾP NỘI THẤT TRONG NHÀ
							i.far.fa-calendar 16/01/2016
					p.detail-blog BLOG TAG
					.product-grid-tag.tagblog
						.row
							a.tag Túi
							a.tag Phụ kiện
							a.tag Đồng hồ
						.row
							a.tag Giày
							a.tag Sandal
							a.tag Áo sơ mi
							a.tag Nước hoa
						.row
							a.tag Trẻ em
							a.tag Thời trang nữ		
					p.detail-blog LASTED VIDEO
					img(src='../image/Chi-tiet-Blog_1 video.jpg')
				.col-lg-8
					a.detail-image
						img(src='../image/Chi-tiet-Blog_right.jpg')
					.detail-blog-title
						p.caption VANG THĂNG LONG CLASSIC
						p.time Đăng bởi Nhat Linh| 01/19/2019| 60 Bình luận
						p.des Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ thănglong tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750 ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ thănglong tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750 ml.
					p.detail-blog-donggop ĐÓNG GÓP Ý KIẾN
					form.loginform
						.row
							.col.lg-2.titleinput
								| Tên *
							.col-lg-10.input1
								input(type='text', required='')
						.row
							.col.lg-2.titleinput 
								| Email *
							.col-lg-10.input1
								input(type='email', required='')
						.row.ykien
							.col.lg-2.titleinput 
								| Tên sau *
							.col-lg-10
								input.input2(type='text', required='')
						.row
							.col-lg-2
							.col-lg-10
								button(href='login.html', type='submit') GỬI
					.detail-blog BÌNH LUẬN (4)
						.detail-blog-comment
							.row.detail-blog-comment-time
								.col-lg-4 
									a Bình luận bởi Giang Le  |
								.col-lg-6
									a Cách đây 4 giờ
								.col-lg-2 
									a Trả lời
							.row.detail-blog-comment-content
								.col-lg-12 Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ thănglong tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750 ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy..
						.detail-blog-comment
							.row.detail-blog-comment-time
								.col-lg-4 
									a Bình luận bởi Giang Le  |
								.col-lg-6
									a Cách đây 4 giờ
								.col-lg-2 
									a Trả lời
							.row.detail-blog-comment-content
								.col-lg-12 Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ thănglong tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750 ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy..
						.detail-blog-comment
							.row.detail-blog-comment-time
								.col-lg-4 
									a Bình luận bởi Giang Le  |
								.col-lg-6
									a Cách đây 4 giờ
								.col-lg-2 
									a Trả lời
							.row.detail-blog-comment-content
								.col-lg-12 Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang nổ thănglong tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750 ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy..
					.row.detail-blog-number
						.col-lg-8
						.col-lg-4.detail-blog-number-page
							i.numberpage.fas.fa-angle-left
							a.numberpage 1
							a.numberpage 2
							a.numberpage 3
							i.numberpage.fas.fa-angle-right
include ../include/footer

