html
	include ../include/head
	body
		include ../include/header
		.container.popup
			.row
				.col-lg-4
					img(src='../image/popup.jpg')
				.col-lg-6.popup-content
					h1 GỬI EMAIL
					p.popup-desc Đăng ký Email ngay hôm nay để nhận được thông tin về các sự kiện các chương trình giảm giá của chúng tôi
					form
						input(type='text', name='name', placeholder='Enter your email')
						button(href='#') GỬI
					

