html
	include ../include/head
	body
		include ../include/header
		.container.linkhead
			a Trang chủ / Sản phẩm /
			a.linkcontact(href='redwine.html') Rượu vang đỏ
			.row
				.col-lg-2.choose
					.row
						i.up.fas.fa-arrow-up
					.row
						img(src='../image/03_Detail_03.jpg')
					.row
						img(src='../image/03_Detail_03.jpg')
					.row
						img(src='../image/03_Detail_06.jpg')
					.row
						img(src='../image/03_Detail_10.jpg')
					.row
						img(src='../image/03_Detail_03.jpg')
					.row
						i.up.fas.fa-arrow-down
				.col-lg-5
					img.img-reponsive(src='../image/03_Detail_main.jpg')
				.col-lg-5
					.linkhead-title
						h1#FONT24 RƯỢU NHO NĂM 1987
						img.img-responsive(src='../image/titleleft-dark.png')
						.price1 330.000
							sup đ
						.vote
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star
							i.fas.fa-star-half-alt
							i.far.fa-star
							| 1 Review(S) | Add your review
						.color MÀU SẮC
						.phanomau
							#c1
								i.fas.fa-square-full
							#c2
								i.fas.fa-square-full
							#c3
								i.fas.fa-square-full
						.catelori PHÂN LOẠI
						.dropdown
							button.dropbtn
								| Loại to
								i.fas.fa-caret-down
								.dropdown-content
									a(href='#') Loại lớn
									a(href='#') Loại nhỏ
						.catelori SỐ LƯỢNG
						.row.number
							.col-lg-4 
								.row.olala
									.col-lg-1.soluong
										| -
									.col-lg-3.centerwhite
										| 3
									.col-lg-1.soluong
										| +
							.col-lg-5
								button(href='shoppingcart.html', type='submit') ADD TO CART
						.row.description
							.col-lg-3
								i.fas.fa-heart
								a
								a Yêu thích
							.col-lg-3
								i.fas.fa-chart-bar
								a
								a So sánh
							.col-lg-3
								i.fas.fa-envelope 
								a 
								a Email
						.catelori MÔ TẢ
						.desc Một hợp chất có trong rượu vang được gọi là resveratro có khả năng răng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.
						.descbottom
							img(src='../image/mota.jpg')
			.container.row
				.col-lg-8
					.row.reddesc
						.col-lg-5.title ĐẶC ĐIỂM NỘI BẬT
						.col-lg-3.title THÔNG TIN 
						.col-lg-3.title ĐÁNH GIÁ
					.row.reddesc-content.col-lg-12
						p Một hợp chất có trong rượu vang được gọi là resveratro có khả năng răng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.Một hợp chất có trong rượu vang được gọi là resveratro có khả năng răng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.Một hợp chất có trong rượu vang được gọi là resveratro có khả năng răng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.
						p Một hợp chất có trong rượu vang được gọi là resveratro có khả năng răng tối đa tuổi thọ. Resveratro còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.Một hợp chất có trong rượu vang được gọi là resveratro có khả năng răng tối đa tuổi thọ. 
				.col-lg-4
					.reddesc-right
						a
							img(src='../image/03_Detail_right.jpg')
		.container.winbody-product
			.winebody-content-line
				h1 SẢN PHẨM BÁN CHẠY
				img(src='../image/title-dark.png')
			.row.winebody-product-show
				.col-lg-3 
					i.fas.fa-arrow-left
					img.img-responsive(src='../image/4-1.jpg')
					.winebody-product-show-content RƯỢU VANG ĐÀ LẠT
					.winebody-product-show-price 
						span.price1 370.000 
							sup đ
						span.price2 - 450.000 
							sup đ
						.winebody-content_price ADD TO CART

				.col-lg-3 
					img.img-responsive(src='../image/2duoi.jpg')
					.winebody-product-show-content RƯỢU VANG ĐÀ LẠT 
					.winebody-product-show-price 
						span.price1 370.000
						span.price2 - 450.000 
							sup đ
						.winebody-content_price ADD TO CART
				.col-lg-3 
					img.img-responsive#alone(src='../image/3duoi.jpg')
					.winebody-product-show-content RƯỢU VANG ĐÀ LẠT 
					.winebody-product-show-price 
						span.price1 370.000 
							sup đ
						span.price2 - 450.000 
							sup đ
						.winebody-content_price ADD TO CART
				.col-lg-3 
					img.img-responsive(src='../image/2-4.jpg')
					i.fas.fa-arrow-right
					.winebody-product-show-content RƯỢU VANG ĐÀ LẠT 
					.winebody-product-show-price 
						span.price1 370.000 
							sup đ
						span.price2 - 450.000 
							sup đ
						.winebody-content_price ADD TO CART						
include ../include/footer
