html
	include ../include/head
	body
		include ../include/header
		.container.linkhead
			a Trang chủ /
			a.linkcontact(href='#') Đăng ký
			.linkhead-title
				.row
					.col-lg-9
						h1 ĐĂNG KÝ
						img.titlebottom(src='../image/titleleft-dark.png')
					.col-lg-3
						.buttonregis
							a(href='login.html') ĐĂNG NHẬP
				.form
					h1 THÔNG TIN KHÁCH HÀNG
					form.loginform
						.row
							.col.lg-2.titleinput 
								| Tên trước *
							.col-lg-10.input1
								input(type='text', required='')
						.row
							.col.lg-2.titleinput 
								| Tên sau *
							.col-lg-10.input1
								input(type='text', required='')
						.row
							.col.lg-2.titleinput 
								| Email *
							.col-lg-10.input1
								input(type='email', required='')
						.row
							.col.lg-2.titleinput
								| Password *
							.col-lg-10.input1
								input(type='password',required='')
						.row
							.col-lg-2
							.col-lg-10.titleinput 
								input(type='checkbox', checked='checked', name='remember')
								| Đăng ký nhận bản tin
						//- .row 
						//- 	.col-lg-2
						//- 	.col-lg-10.btlogin
						//- 		button(href='index.html', type='submit') ĐĂNG KÝ
						h1.spe1 THÔNG TIN ĐĂNG NHẬP
						.row 
							.col.lg-2.titleinput
								| Mật khẩu *
							.col-lg-10.input1
								input(type='password',required='')
						.row
							.col.lg-2.titleinput
								| Xác nhận mật khẩu *
							.col-lg-10.input1
								input(type='password',required='')
						.row 
							.col-lg-9
							.col-lg-3.btlogin
								button(href='login.html', type='submit') ĐĂNG KÝ
								button.comeback(href='index.html') QUAY LẠI
		include ../include/footer