.container.branch
	.row
		.col-lg-4
			p.br
				img.img-responsive(src='../image/br1.jpg')
		.col-lg-4
			p.br
				img.img-responsive(src='../image/br2.jpg')
		.col-lg-4
			p.br
				img.img-responsive(src='../image/br3.jpg')
.container
	.row.contact
		.col-lg-2
			p.contact-1 THÔNG TIN
			p.contact-2 VỀ CHÚNG TÔI
			p.contact-2 GIAO HÀNG
			p.contact-2 CẢM NGHĨ
			p.contact-2 LƯU TRỮ
			p.contact-2 CHÍNH SÁCH RIÊNG TƯ
		.col-lg-3
			p.contact-1 MUA HÀNG
			p.contact-2 VẬN CHUYỂN VÀ TRẢ HÀNG
			p.contact-2 MUA HÀNG AN TOÀN
			p.contact-2 VẬN QUỐC TẾ
			p.contact-2 LIÊN KẾT
			p.contact-2 DỊCH VỤ GIẢM GIÁ
		.col-lg-3
			p.contact-1 GỬI EMAIL
			p.contact-3 Liên hệ với chúng tôi để được hỗ trợ
			form
				input(type='text', name='name', placeholder='Enter your email')
				a.button-send(href='#') GỬI
			.row.icon
				.col-lg-1.iconshow
					i.id.fab.fa-twitter
				.col-lg-1.iconshow
					i.id.fab.fa-google
				.col-lg-1.iconshow
					i.id.fab.fa-twitter
				.col-lg-1.iconshow
					i.id.fab.fa-twitter
				.col-lg-1.iconshow
					i.id.fab.fa-linkedin-in
		.col-lg-4
			p.contact-1 LIÊN HỆ
			.contentcontact
				p.contact-4 
					i.fas.fa-map-marker-alt
					a Tầng 4, Tòa nhà Hanoi Group Số 442 Đội Cấn, P.Cống Vị, Q. Ba Đình, Hà Nội
				p.contact-4 
					i.fas.fa-fax 
					a (04) 6674 2332 - 
					i.fas.fa-fax 
					a  (04) 3768 8904
				p.contact-4 
					i.fas.fa-fax 
					a.phone (08) 6680 0668 - 
					i.fas.fa-envelope  
					a.Support  @bizweb.com.vn
	hr
.container
	.row.footer
		.col-lg-9.design
			p &copy; Copyright 2008-2014 DKT Technology JSC
		.col-lg-3
			p
				img(src='../image/footer1.jpg')
	hr