head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge')
	meta(name='viewport' content='width=device-width, initial-scale=1.0')
	title Drink
	link(rel='stylesheet' href='../bootstrap/css/bootstrap.min.css')
	link(rel='stylesheet' href='../fontawesome/css/all.css')
	link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
	link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
	link(href='https://fonts.googleapis.com/css?family=Rochester' rel='stylesheet')
	script(src='../bootstrap/js/jquery.js')
	script(src='../bootstrap/js/bootstrap.min.js')
	link(rel='stylesheet' type='text/css' href='../css.css')