mixin menutop(src,name)
	li
		a(href= src)= name
+menutop('#','Tài khoản của tôi -')
+menutop('#',' Trạng thái đơn hàng - ')
+menutop('bill.html',' Danh sách đơn hàng -')
+menutop('shoppingcart.html','Giỏ hàng - ')
+menutop('login.html','Đăng nhập -')
+menutop('register.html','Đăng ký')