		.container.linkhead
			a Trang chủ /
			a.linkcontact(href='#') Rượu vang đỏ
			img.img-reponsive.banner-product(src='../image/banner-grid.jpg')
		.container
			.row.product-grid
				.col-lg-4
					.linkhead-title
						h1.FONT24.titlegrid DANH MỤC SẢN PHẨM
						img(src='../image/titleleft-dark.png')
				.col-lg-8.product-grid-right
					.row
						.col-lg-9.product-grid-number-right-a
							i.fas.fa-th
							i.fas.fa-list
						.col-lg-3.product-grid-number-right-b
							i.fas.fa-caret-left
							a 1
							a 2
							a 3
							a 4
							a 5
							i.fas.fa-caret-right
		.container
			.row.product-grid-show
				.col-lg-4
					ul.product-grid-show-list
						li RƯỢU NGOẠI
						li Rượu Chivas (16)
						li Hàng độc- Rượu độc đáo (36)
						li Johnnie Walker (46)
						li Rượu Whisky (24)
						li Rượu Remy Martin (16)
						li Rượu Glenmorangie (11)
						li Rượu Ballantine's (7)
						li Rượu Cognac (40)
						li Rượu Vodka (93)
						li Rượu Macallan (19)
						li Rượu Brandy (62)
						li Rượu Hennessy (20)
						li Rượu Gin- Tequila- Rượu mùi (36)
						li Rượu Champange (12)
						li Rượu Single malt Scoth whisky (47)
						li Rượu Spirits (4)
						li RƯỢU VANG
						li Rượu Vang Pháp (44)
						li Rượu Vang Úc (24)
						li Rượu Vang Mỹ (16)
						li Rượu Vang ChiLe (48)
						li Rượu Vang Philip (1)
						li Rượu Vang Nam Phi (20)
						li Rượu Vang Ý (2)
					.linkhead-title.more-linkhead
						h1.FONT24.titlegrid SO SÁNH SẢN PHẨM
						img(src='../image/titleleft-dark.png')
						p.desc-product Bạn chưa có sản phẩm nào để so sánh
					.linkhead-title.more-linkhead
						h1.FONT24.titlegrid TAG SẢN PHẨM
						img(src='../image/titleleft-dark.png')
					.container
						.product-grid-tag
							.row
								a.tag Túi
								a.tag Phụ kiện
								a.tag Đồng hồ
							.row
								a.tag Giày
								a.tag Sandal
								a.tag Áo sơ mi
								a.tag Nước hoa
							.row
								a.tag Trẻ em
								a.tag Thời trang nữ		
					.imgproduct
						img(src='../image/banner-right-product.jpg')
				.col-lg-8